body {
    margin: 0;
    background-color: antiquewhite;
}

/* Header */

.nav-logo-postPage {
    width: 12em;
    height: 12em;
    cursor: pointer;
}

.header-postPage {
    display: flex;
    background-color: white;
}

.header-title-postPage {
    font-size: 3.5em;
        margin-left: 8em;
        margin-top: 1.5em;
}
/* ^Header */


/* Body  */
.main {
    margin-top: 1em;
    padding-top: 0;
    margin-left: 25em;
    margin-right: 25em;
}

.title-create-post {
    font-size: 2em;
    margin-left: 0;
    padding-left: 0;
}

.line {
    width: 100%;
}

.select {
    height: 3em;
    width: 20em;
}

.TagLabel {
    display: flex;
}

.TagLabel>strong {

    margin-top: 0.5em;
    margin-left: 0.3em;
}


.post-section {
    padding-top: 0.7em;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 4em;

}

.title-post {
    margin: 0em 1em;
    height: 2.5em;
    font-size: 1em;
    width: 85%;
    border: none;
    outline: none;
}

.input-title-box {
    height: 3em;
    margin: 1em;
    display: flex;
    border: 1px solid #a0a0a0;
    border-radius: 4px;

}

.input-title-box>sub {
    margin-top: 2em;
        margin-left: 7em;
    color: #a0a0a0;
    font-weight: bold;
}


.body-post-post-page {
    margin: 1em;
    height: 2em;
    padding: 0;
    font-size: 1em;
    width: 85%;
    border: none;
    outline: none;
}

.input-body-box {
    margin: 1em;
    height: 15em;
    display: flex;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

.input-body-box>sub {
    color: #a0a0a0;
    font-weight: bold;
    margin-left: 7em;
        margin-top: 18em;
}



.Submit-section-active {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 5em;
    height: 1.5em;
    border-radius: 12pt;
    text-align: center;
    vertical-align: middle;
    margin-left: 92%;
    cursor: pointer;
}

.Submit-section-not-active {
    background-color: gray;
    color: white;
    font-weight: bold;
    width: 5em;
    height: 1.5em;
    border-radius: 12pt;
    text-align: center;
    vertical-align: middle;
    margin-left: 92%;
    cursor: not-allowed;
}
.train-logos-sections-post-page {
    display: grid;
    width: 100%;
    grid-template: auto auto / repeat(13, 1fr);
    gap: 20px;
    background-color: white;
    border-radius: 12pt;
    padding: 1em 3em;
    margin-bottom: 1em;

}

.train-image {
    cursor: pointer;
    border-radius: 100%;
}

.train-image:hover {
    cursor: pointer;
    filter: opacity(0.5) drop-shadow(0 0 0 lightskyblue);
}

.train-image-selected {
    cursor: pointer;
    border-radius: 100%;
    filter: opacity(0.5) drop-shadow(0 0 0 blue);
    transform: scale(1.5);

}

.train-image-not-available {
    cursor: not-allowed;
    border-radius: 100%;
}

.train-image-not-available:hover {
    cursor: not-allowed;
    border-radius: 100%;
}

.pick-a-train {
    display: flex;
    font-size: 2em;
}

.train-image-selected-title {
    margin-top: -0.4em;
        margin-left: 0.3em;
    margin-bottom: -0.4em;
    transform: scale(1.0);
}
.rating-overall-section {
    background-color: white;
    margin: 1em 0em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 12pt;
}

.rating-faces {
    margin-top: 0.4em;
    margin-left: 1em;
}

.rating-overall {
    display: flex;
}

.rating-label {
    font-size: 1.6em;
}
.dynamic-text {
    margin-top: 0.6em;
    margin-left: 1em;
    font-size: 1em;
}