.linkto {
    font-size: small;
}

.link { 
    text-decoration: none;
}

.img {
    height: 135px;
    width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin: 2% 0;
}