.signup {
    text-align: center;
    width: 100%;
    margin: 50px 0px;
}

.signup-form {
    height: 80vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30%;
    box-shadow: 0px 0px 20px 0px grey;
}

.signup-form img {
    height: 135px;
    width: 135px;
}

.input {
    height: 30px;
    border: 2px solid #24a0ed;
    border-radius: 5px;
}

.submit-button {
    background-color: #24a0ed;
    width: 60px;
    height: 30px;
    border: 1px solid #24a0ed;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.linkto {
    font-size: small;
}

.signup-form a {
    text-decoration: none;
}

.signup-form a:hover {
    color: #24a0ed;
}